body{
  background-color: rgb(255, 252, 104);
}

.container {
  width: auto;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}
.wrapper {
  display: flex;  
  flex-flow: row wrap;
}

h1 {

flex-flow: row wrap;
display: flex;
 color: #2a2a2a;
 font-size: 40px;
 text-align: center;
 font-weight: 80;
 align-self: flex-end;
}

.header {
  width: auto;
  height: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.header > img {
 display: flex;
 width: 20%;
 height: auto;
}

.header > h1 {
  display: flex;
  align-self: stretch;
  height: auto;
  width: auto;
 }


#textInput {
 flex-wrap: wrap;
 align-items: center;
 display: flex;
 flex-direction: column;
 padding: 0 10px;
 justify-content: space-between;
 width: 600px;
 height: 40px;
 margin: 0 auto;
 border-radius: 5px;
}

.search-bar{
  display: flex;
  flex-flow: row nowrap;
  margin-top: 8%;
 }

.search-bar > button{
 background-color: white;
 left: 955px;
 top:173px;
 border-radius: 50%;
}

.radio{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3%;
}

.radio1 {
  align-self: center;
  left: 405px;
  top:173px;   
}

.radio2 {
  align-self: center;
  left: 430px;
  top:173px; 
}


.courses {
background: none!important;
border: none;
padding: 0!important;
/*optional*/
font-family: arial, sans-serif;
/*input has OS specific font-family*/
color: #069;
text-decoration: underline;
cursor: pointer;


}

.profs {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  
  
  }

button:hover {
 background-color: #eb2f00;
 color: white;
}

.suggestions li{
 margin-left: auto;
 margin-right: auto;
 position: relative;
 align-items: center;
 top:200px; 
 background: white;
 border-radius: 25px;
 display: inline-block;
 border: 2px solid #000000;
 padding: 20px;
 width: 550px;
 height: 150px;
}

.category{
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: rgb(0, 0, 0);
  text-decoration: underline;
  cursor: pointer;
  
  }

  .de > li > h4 {
    background: white;
    width: 500px;
    width: 600px;
    height: 150px;
    color: #2a2a2a;
    align-items: center;

    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: rgb(0, 0, 0);
    cursor: pointer;
    color: #2a2a2a;
    font-size: 20px;
    text-align: center;
    font-weight: 80;
  }

  .category1{
    background: white;
    width: 500px;
    width: 600px;
    height: 150px;
    color: #2a2a2a;
    align-items: center;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: rgb(0, 0, 0);
    cursor: pointer;
    color: #2a2a2a;
    font-size: 20px;
    text-align: center;
    font-weight: 80;
 
    }
     
@media only screen and (max-width: 800px){
  .container{
    justify-content: center;
  }
}
  
   .category2{
    background: white;
    width: 500px;
    width: 600px;
    height: 150px;
    color: #2a2a2a;
    align-items: center;

    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: rgb(0, 0, 0);
    cursor: pointer;
    color: #2a2a2a;
    font-size: 20px;
    text-align: center;
    font-weight: 80;
    }
    



